<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Practica01</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </head>

    <body>
        <div class="container mt-4">
            <h2 class="mb-4">Modificar árbol</h2>

            <section th:replace="~{arbol/fragmentos :: editar}"></section>
        </div>
    </body>
</html>
